.ticket-container {
  border-radius: var(--size-6);
  display: flex;
  flex-direction: column;
  border: var(--border-2);
  overflow: hidden;
  cursor: pointer;
}

.ticket-container:hover {
  box-shadow: var(--shadow-cl);
}

.ticket-header {
  background: var(--color-b);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-4);
  gap: var(--size-3);
}

.ticket-id {
  font-size: var(--size-5);
  color: var(--color-c);
  opacity: 0.6;
}

.ticket-status {
  width: calc(var(--size-8) * 2.5);
  background: var(--color-a);
  color: var(--color-d);
  padding: var(--size-2) var(--size-4);
  border-radius: var(--size-3);
  text-align: center;
  text-transform: capitalize;
}

.ticket-body {
  flex: 1;
  padding: var(--size-4);
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}

.ticket-title {
  font-size: calc(var(--size-7) * 1.5);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ticket-tags {
  display: flex;
  gap: var(--size-2);
  overflow-x: auto;
}

.ticket-tags::-webkit-scrollbar {
  height: 0;
}

.ticket-tag {
  background-color: var(--color-c);
  color: var(--color-a);
  border-radius: var(--size-3);
  font-size: calc(var(--size-4) * 0.75);
  padding: var(--size-2) var(--size-4);
}

.ticket-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-3) var(--size-4);
}

.ticket-author {
  color: var(--color-c);
}

.ticket-discussions {
  width: calc(var(--size-8) * 2.5);
  background-color: var(--color-b);
  color: var(--color-c);
  border-radius: var(--size-3);
  font-size: var(--size-4);
  padding: var(--size-2) var(--size-4);
  text-align: center;
}

@media screen and (max-width: 500px) {
  .ticket-footer {
    flex-direction: column;
    gap: var(--size-2);
  }
}

