.org-hero {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: var(--size-7);
}

.org-hero-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-8);
  padding: var(--size-7) var(--size-8);
}

.org-hero-icon {
  width: calc(var(--size-8) * 2);
  min-width: calc(var(--size-8) * 2);
  height: auto;
  color: var(--color-c);
  padding: var(--size-4);
  box-sizing: content-box;
}

.org-hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--color-c);
  padding: var(--size-6) var(--size-8);
  border-radius: var(--size-6);
}

.org-hero-title {
  font-size: var(--size-8);
  font-weight: 800;
  text-align: center;
  color: var(--color-a);
}

.org-hero-subtitle {
  font-size: var(--size-7);
  font-weight: 600;
  color: var(--color-b);
}

.org-hero-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-6);
  padding: 0 var(--size-6);
}

.org-hero-action {
  background: var(--color-b);
  color: var(--color-c);
  padding: var(--size-4) var(--size-6);
  font-size: var(--size-4);
  border: none;
  border-radius: var(--size-4);
  cursor: pointer;
}

.org-hero-action:not(:disabled):hover {
  box-shadow: var(--shadow-cs);
}

.org-hero-action:not(:disabled):active {
  box-shadow: var(--shadow-cl);
  scale: 0.8;
}

.org-hero-action:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 800px) {
  .org-hero-top {
    flex-direction: column;
    gap: var(--size-6);
  }
}

@media screen and (max-width: 600px) {
  .org-hero-top {
    padding: var(--size-6);
    padding-top: var(--size-5);
  }

  .org-hero-actions {
    flex-direction: column;
    align-items: stretch;
    gap: var(--size-4);
  }

  .org-hero-icon {
    width: calc(var(--size-8) * 1.5);
    min-width: calc(var(--size-8) * 1.5);
  }
  
  .org-hero-content {
    width: auto;
    align-self: stretch;
  }
  
  .org-hero-title {
    font-size: var(--size-7);
  }

  .org-hero-subtitle {
    font-size: var(--size-4);
  }
}

